[2020-10-30 06:00] cmonkey opened #5 "PollRemoveTest test failure"
git commit 70d645a40f8c8cbe5f986218d68d388cd04d9e12

PollRemoveTest test failure

io.netty.channel.unix.Errors$NativeIoException: bind(..) failed: Address already in use

PollRemoveTest.java 79 line

[2020-10-30 10:29] normanmaurer commented on #5
@cmonkey what os / kernel you are using ?

[2020-10-31 12:53] cmonkey commented on #5
uname -a
Linux dev-mchine 5.9.2-arch1-1 #1 SMP PREEMPT Thu, 29 Oct 2020 17:01:28 +0000 x86_64 GNU/Linux

limit
cputime         unlimited
filesize        unlimited
datasize        unlimited
stacksize       8MB
coredumpsize    unlimited
memoryuse       unlimited
maxproc         127203
descriptors     1024
memorylocked    32MB
addressspace    unlimited
maxfilelocks    unlimited
sigpending      127203

[2020-11-02 14:06] normanmaurer commented on #5
I will check... what happens if you add a "small sleep" before we bind again ?

[2020-11-17 03:59] azzahrah opened #9 "Errro on ubuntu 20.04 kenerl 5.10"
Exception in thread "Thread-0" java.lang.UnsatisfiedLinkError: could not load a native library: netty_transport_native_io_uring_x86_64
        at io.netty.util.internal.NativeLibraryLoader.load(NativeLibraryLoader.java:226)
        at io.netty.incubator.channel.uring.Native.loadNativeLibrary(Native.java:219)
        at io.netty.incubator.channel.uring.Native.<clinit>(Native.java:55)
        at io.

[2020-11-17 07:09] normanmaurer commented on #9
@azzahrah I just tested it and it works... can you show me your dependency configuration ?

[2020-11-17 09:11] astei opened #10 "Remote addresses from server channels do not make sense"
Using Netty 4.1.54.Final and 0.0.1.Final of the io_uring transport. I am connecting to a server using TCP listening on a io_uring event loop, but it reports nonsensical remote addresses like `8000:bc:307f:0:0:0:0:0%37` (I was really connected from the IPv4 loopback address `127.0.0.1`) and `8000:84:e17f:0:2829:4c69:6f2f:6e65%37` (I was really connected from the IPv6 loopback address `::1`). These

[2020-11-17 10:22] hyperxpro opened #11 "Support TCP Fast Open in IO_URING Socket Channel"
TCP Fast Open support is missing in IO_URING Socket Channel implementations.

[2020-11-17 11:00] normanmaurer commented on #10
@astei sounds like a bug... I will have a look later this week.

[2020-11-17 12:06] hugmanrique commented on #10
Probably has to do something with https://github.com/netty/netty-incubator-transport-io_uring/blob/main/src/main/java/io/netty/incubator/channel/uring/IOUringServerSocketChannel.java#L39?

[2020-11-18 00:14] azzahrah commented on #9
@normanmaurer  problem solve just update dependencies

<dependency>
    <groupId>io.netty.incubator</groupId>
    <artifactId>netty-incubator-transport-native-io_uring</artifactId>
    <version>0.0.1.Final</version>
    <classifier>linux-x86_64</classifier>
</dependency>

[2020-11-18 00:14] #9 closed

[2020-11-18 16:37] ghost opened #12 "IP_RECVORIGDSTADDR not working"
[code]

[2020-11-18 16:40] normanmaurer commented on #12
Yep I think we not support this one atm... PRs welcome :)

[2020-11-18 18:49] igor-lukyanov commented on #10
Confirming the same problem with IPv4 addresses (server ip is hidden):
[id: 0xe04bc21f, L:/XX.XX.XX.XX:443 ! R:/0.0.0.0:0]
There are zeroes instead of real remote IP address.

[2020-11-18 19:03] igor-lukyanov commented on #12
Tried the commit https://github.com/netty/netty-incubator-transport-io_uring/pull/13 in our real app.
At first sight, it seems to work (no errors occur anymore during the setOption(...) call), but it's hard to judge if it's actually fixing things (i.e. if after setting up the option local address 0.0.0.0 starts to get substituted with tproxy remote address like 10.xx.xx.xx) apparently because of t

[2020-11-18 19:26] igor-lukyanov opened #14 "Memory is not reclaimed after death of a process"
When we run an app that uses io_uring, and then gracefully shutdown it - all following attempts to start it again fail because of OOM. Looks like shared buffers are not reclaimed when an app exits.

/proc/meminfo reports before and after are below.
Please look at Mapped and Shmem metrics.

Before:
[code]

After:
[code]

[2020-11-18 19:36] normanmaurer commented on #14
Can you show all your code that is used ?

[2020-11-18 19:52] igor-lukyanov commented on #14
Will write minimal reproducible example shortly, the app itself is quite big.

[2020-11-18 19:53] normanmaurer commented on #14
@igor-lukyanov thanks a lot... Also if you can share any perf data (like before and after) I would be very interested :)

[2020-11-20 22:15] igor-lukyanov opened #15 "Dual IP stack problems when IOUring is initialized (even not used)"
We have a simple class that checks available polling libraries (epoll, iouring) and provides the best one (see below).
When we disable uring (by removing 'iouring.enabled' from the command line) its expected that behaviour will be the same as if iouring completely removed from the code and dependencies.

Nevertheless, when we keep it in place (without even using it - epoll is used - 4.19 kernel wo

[2020-11-21 22:18] azzahrah opened #16 "io.netty.channel.unix.Errors$NativeIoException: bind(..) failed: Address already in use"
I always getting  error

I try for real application with 2000more device connected to my server, but I am getting error io.netty.channel.unix.Errors$NativeIoException: bind(..) failed: Address already in use, that is never happen in Epoll before...

[2020-11-22 06:35] normanmaurer commented on #16
When do you get this ? Can you Share some code ?

[2020-11-22 11:32] hyperxpro commented on #16
Same here

[2020-11-22 12:08] normanmaurer commented on #16
Please explain when exactly you see this . Also please include a stacktrace

[2020-11-22 12:15] hyperxpro commented on #16
I was trying to do C10M. I was at 7k connections but I found some issue in the server code. So I stopped the application, fixed the issue, and reuploaded the application to the server. After that, I got this error. I tried multiple times but I kept getting this error.

https://github.com/hyperxpro/NettyC10M

You should adjust the buffer sizes because I was testing this on a beast server.

[2020-11-22 12:15] hyperxpro commented on #16
C10M Server and TCPKali were on different hardware but the same local network.

[2020-11-22 12:25] normanmaurer commented on #16
Like I said please share the full stacktrace

[2020-11-22 12:26] hyperxpro commented on #16
Alright. I will try to simulate this again with full DEBUG mode and get you every bit of info. :)

[2020-11-23 14:02] normanmaurer commented on #14
@igor-lukyanov I tried to replicate this but without any luck. Please come back to me once you have a reproducer / more details. Please also include kernel version etc.

[2020-11-23 14:48] normanmaurer commented on #15
@igor-lukyanov does the exception comes up in the native epoll transport or in the nio transport ?

[2020-11-23 14:59] igor-lukyanov commented on #14
It's from epoll:

[code]

[2020-11-23 14:59] igor-lukyanov commented on #15
it comes from epoll:
[code]

[2020-11-23 15:04] igor-lukyanov commented on #14
It vanishes when trying to reproduce it in a simple app, still digging.

[2020-11-23 15:11] normanmaurer commented on #10
Please check https://github.com/netty/netty-incubator-transport-io_uring/pull/17

[2020-11-23 15:37] normanmaurer commented on #14
Keep me posted

[2020-11-23 17:00] #10 closed

[2020-11-23 17:31] astei commented on #10
I just checked with #17. It's working beautifully now!

One behavioral difference I noticed is that IPv4-mapped IPv6 addresses differ from what is shown with epoll - I am now getting the IPv6 address `/0:0:0:0:0:ffff:7f00:1%0` instead. I don't know if this is a bug or not, since otherwise everything is working.

[2020-11-23 18:04] normanmaurer commented on #10
@astei I guess generally speaking its ok but I guess it would be best to have epoll / io_uring be more consistent here. Can you fill another issue ?

[2020-11-23 18:58] astei opened #18 "IPv4-mapped IPv6 addresses are shown as IPv6 addresses when they should be shown as IPv4 ones"
Now that #10 is fixed I found a minor issue. More of a nit than anything.

IPv4-mapped IPv6 addresses differ from what is shown with epoll. For instance, consider the IPv4-mapped IPv6 address `:ffff:127.0.0.1`. In the epoll transport this is represented as just `127.0.0.1`, but with the io_uring transparent it shows as the IPv6 address `/0:0:0:0:0:ffff:7f00:1%0` instead.

[2020-11-23 18:58] astei commented on #10
Filed #18 for the IPv4-mapped IPv6 address nit.

[2020-11-23 22:02] azzahrah commented on #16
@normanmaurer

when call command kill -9 PID, wait for 1minute and run again may application java -jar myapp.jar, below is sample code

/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package com.pusatgps.main;

import com.pusatgps.channelinitializer.PipelineInit

[2020-11-24 15:41] normanmaurer commented on #15
ok thanks  will check

[2020-11-24 15:49] normanmaurer commented on #15
Thanks a lot I can reproduce... let me try to find out why...

[2020-11-26 09:35] normanmaurer commented on #14
Any update @igor-lukyanov  ?

[2020-11-26 11:01] igor-lukyanov commented on #14
Sorry for the delay, will test today with different kernel/OS versions.

[2020-11-26 16:32] lneves opened #19 "failed to create io_uring ring fd Cannot allocate memory"
Trying to use the io_uring based transport but getting errors on startup.
I think I have the necessary requirements (see below).

Exception in thread "main" java.lang.UnsatisfiedLinkError: failed to load the required native library
	at io.netty.incubator.channel.uring.IOUring.ensureAvailability(IOUring.java:63)
	at io.netty.incubator.channel.uring.IOUringEventLoop.<init>(IOUringEventLoop.java:64)

[2020-11-26 17:43] igor-lukyanov commented on #14
Checked with kernel 5.9.10-050910-generic (vs 5.9.0-050900-generic where the bug was seen) and couldn't reproduce the issue. Digging further.

[2020-11-26 19:10] igor-lukyanov commented on #14
Reproduced the issue under kernel version 5.9.10-050910-generic as well, after applying kill -9.
Mapped:           956236 kB
Shmem:            978976 kB
One important thing - 'port already in use' error occurs after trying to run app once again (previous process 100% does not exist by that time), so it seems some sockets/ports stay alive and retain associated buffers. So seems it's more on the sid

[2020-11-27 12:06] normanmaurer commented on #14
I wonder if this is also related to https://github.com/netty/netty-incubator-transport-io_uring/pull/20

[2020-11-27 12:08] normanmaurer commented on #19
Thats most likely to the `memlock` settings on your system. Try to increase it for the user that runs the process.

For example see
https://access.redhat.com/solutions/61334

[2020-11-27 12:08] #19 closed

[2020-11-27 12:54] igor-lukyanov commented on #14
Thank you, will check today w/ the fix.

[2020-11-27 13:01] #16 closed

[2020-11-27 13:01] #5 closed

[2020-11-27 13:09] normanmaurer commented on #18
@astei can you check https://github.com/netty/netty-incubator-transport-io_uring/pull/21 ?

[2020-11-27 14:03] #18 closed

[2020-11-27 14:04] martin-g opened #22 "Problem with os.detected.arch on AARCH64"
I know that this library does not support AARCH64 at the moment but I tried to build it and see whether I can help supporting it.

Running `mvn clean package` starts with:

[code]

and later fails with:

[code]
netty-transport-native-unix-common:4.1.54 **does** have a binary for aarch64 but there is no `_` in its classifier (`linux-aarch64`):

https://repo1.maven.org/maven2/io/netty/netty-transpor

[2020-11-27 14:06] normanmaurer commented on #22
@trustin can you check why the plugin does this and if its a bug or not ?

[2020-11-27 15:56] normanmaurer commented on #14
thanks a lot ...

[2020-11-27 19:30] balamaci opened #23 "java.lang.RuntimeException: failed to create io_uring ring fd Cannot allocate memory"
Hi,
Sorry it probably is related to having to increase some kind of limits, but I don't know which or where this is mentioned, so I'm posting this in case someone encountered or has the same problem.

I'm getting a
[code]
Initially on 5.4 Kernel in Ubuntu, upgraded to 5.9.10 but still same.

Code is https://github.com/balamaci/async-profiler-playground/blob/master/src/main/java/com/balamaci/net/as

[2020-11-28 00:08] igor-lukyanov commented on #14
Checked, problem is still in place (though reveals itself only when the tested proxy app has some in-flight connections when getting stopped, idle start/stop works without problems with shmem). Will try to make MRE.

[2020-11-28 00:52] astei commented on #18
I am celebrating the American Thanksgiving holiday - I'll check it next week when I have time.

[2020-11-28 05:10] trustin commented on #22
It's not a bug but a convention. `<main_architecture>_<bitmode>` for consistency.

[2020-11-28 05:14] trustin commented on #22
We can of course discuss about this and make a breaking change if it doesn't make much sense. :smile:

[2020-11-28 08:42] martin-g commented on #22
The problem is in the inconsistency between the classifiers in the different Netty modules. Some use `aarch_64` and others `aarch64`. It seems some modules use `os.detected.arch` and others - `os.arch`.

[2020-11-28 09:01] igor-lukyanov commented on #14
8 hours passed since app was killed, checked `ss -nlp` output to find any sockets that can retain memory. Output attached (for 2 cases: when java process was dead and a moment later when it has been restarted and is running already).

What I'm finding strange is that a couple of udp and even tcp listening sockets stay alive even after the death of the app – all 3 udp listening sockets and 2 specia

[2020-11-28 10:04] normanmaurer commented on #14
How you killed it ? Kill -9 ?

[2020-11-28 21:08] igor-lukyanov commented on #12
Due to a CVE related to io_uring and AF_LOCAL sockets https://bugs.chromium.org/p/project-zero/issues/detail?id=1975 sending of ancillary data (which is used by IP_RECVORIGDSTADDR) was completely disabled in io_uring stack.
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=d69e07793f89
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=181e448

[2020-11-29 09:01] 1Jo1 commented on #23
that's odd, are you out of memory?

[2020-11-29 10:31] normanmaurer commented on #22
I am open to use whatever seems to be more correct...

[2020-11-29 11:01] balamaci commented on #23
Not unless I need more than 6GB of memory.
I've debuged the Java part and it gets to the native of
[code]
with ringsize = 4096

Also I've tried to trace all system calls made, it seems to reach **sys_enter_io_uring_setup**.

Syscall Requested: tracepoint:syscalls:sys_enter_io_uring_setup
Process Name: java
Syscall Requested: tracepoint:syscalls:sys_enter_openat
Process Name: java
Syscall Requested

[2020-11-29 11:02] normanmaurer commented on #23
I suspect it is the memlock setting. See https://github.com/netty/netty-incubator-transport-io_uring/issues/19

[2020-11-29 11:30] 1Jo1 commented on #23
probably memlock, please run `ulimit -a`

[2020-11-29 14:20] balamaci commented on #23
Hi, thank you very much, there was a 64 limit, after increase, worked without problems.

[2020-11-29 14:20] #23 closed

[2020-11-29 14:25] normanmaurer commented on #23
Ok cool ... let me add something to the readme

[2020-11-29 22:09] astei commented on #18
@normanmaurer that PR did not fix the issue.

[2020-11-30 05:32] trustin commented on #22
Could Netty modules upload with `aarch_64` classifier, then?

[2020-11-30 07:18] martin-g commented on #22
I was going to suggest to use `aarch64` (i.e. `os.arch`) because of two reasons:
1) it is more common (`uname -p`, Linux buildtools (aarch64-linux-gnu-...), etc.)
2) backward compatibility in old modules like `netty-transport-native-unix-common`

But this breaks for x86 systems. Java's `System.getProperty("os.arch")` returns `amd64` instead of `x86_64`.

So, I agree with @trustin that it would be

[2020-11-30 07:52] normanmaurer commented on #22
@martin-g I guess as long as we update all of these together it should be fine...

[2020-11-30 15:50] martin-g commented on #22
After upgrading my Ubuntu 20.04.1 to kernel 5.10-rc6 I was able to run all tests successfully on AARCH64!

I had to make 3 things:

1) Workaround the issue in this ticket with :

[code]
2) manually make some symlinks:
[code]

3) export `LD_LIBRARY_PATH` to `/home/ubuntu/git/netty/netty-incubator-transport-io_uring/target/native-build/target/lib`

and the result is:
[code]

I hope this is useful to

[2020-12-01 10:09] normanmaurer commented on #18
@astei interesting... can you show me how you bootstrap the server ?

[2020-12-01 10:59] normanmaurer commented on #18
@astei I think I know what is wrong... Can you verify https://github.com/netty/netty-incubator-transport-io_uring/pull/24 ?

[2020-12-01 11:07] normanmaurer commented on #23
https://github.com/netty/netty-incubator-transport-io_uring/pull/25

[2020-12-01 11:08] normanmaurer commented on #12
Sounds good... thanks for keep us posted

[2020-12-02 15:00] normanmaurer commented on #14
@igor-lukyanov ping...

[2020-12-07 08:04] normanmaurer opened #26 "Add profile for cross-compile for aarch64"
Let's add a profile to be able to cross-compile for aarch64 the same as we do for other netty projects

[2020-12-08 06:58] martin-g commented on #26
I'll give you a hand on this!
I'll send a PR later today!

[2020-12-08 07:04] normanmaurer commented on #26
@martin-g let's see what we did in netty:

https://github.com/netty/netty/blob/4.1/docker/Dockerfile.cross_compile_aarch64
https://github.com/netty/netty/blob/4.1/docker/docker-compose.yaml#L44

[2020-12-09 10:14] #26 closed

[2020-12-09 10:14] #22 closed

[2020-12-17 08:26] normanmaurer commented on #14
I wonder if this is also related to that was reported here:

https://lore.kernel.org/io-uring/CAOKbgA66u15F+_LArHZFRuXU9KAiq_K0Ky2EnFSh6vRv23UzSw@mail.gmail.com/T/#u

[2020-12-20 08:19] 1Jo1 commented on #14
@normanmaurer @igor-lukyanov close this issue? :)

[2020-12-20 08:28] normanmaurer commented on #14
Yes :) Thanks a lot!

[2020-12-20 08:28] #14 closed

[2020-12-21 15:31] AlfieC opened #40 "zlib and io_uring"
hey,

we have a pretty large codebase so I'll try to pull out the most important parts

we essentially dropped in epoll support whereas before we used nio - no issue there.
we later deployed kernel 5 + io_uring with the io_uring module, and we started to have issues. we compress the network stream data with zlib (mostly implemented native to avoid copying bytebuf)

error flows from here: https://g

[2020-12-21 17:12] HookWoods opened #41 "Operation not permitted"
Hello, this issue is linked to io_uring but not really netty but I would like to know if some of you could help me. I'm trying the io uring in a docker container, and when I start it, I got this error every time.

`
java.lang.RuntimeException: failed to create io_uring ring fd Operation not permitted
	at io.netty.incubator.channel.uring.Native.ioUringSetup(Native Method) ~[onefork.jar:git-OneFork-

[2020-12-21 17:20] normanmaurer commented on #41
Maybe its related to not be able to use mmap ? Can you try to run with `--privileged` and see if the problem still persist ? Also are you sure the kernel will be recent enough ?

[2020-12-21 18:09] normanmaurer commented on #40
Can you show me how you call the code and the full stacktrace ? -2 is a valid error code (stream error)

Bye
Norman

[2020-12-21 22:10] AlfieC opened #42 "random machine reboots whilst using io_uring"
we deployed some io_uring stuff to end-user facing stuff (essentially giant reverse proxies) that run Netty.

we usually average around 800 concurrent connections on each, during busy periods scaling up to 2000 on each. when we run this using the io_uring transport, after a few hours, the machines just simply die (nothing in logs relating to a reboot, etc). tried on various Debian versions, differ

[2020-12-21 22:20] AlfieC commented on #40
these errors only originate when we use this in the pipeline:

[code]

code from other side:

[code]

apologies, error here is this one:

`Preconditions.checkArgument( size >= compressionThreshold, "Decompressed size %s less than compression threshold %s", size, compressionThreshold);`

I'd normally attribute this to an error of ours but it only occurs when we use io_uring - no issues using epoll

[2020-12-21 22:25] AlfieC commented on #40
when we remove the checkArgument, there we get the -2 on zlib decompression

[2020-12-22 08:22] 1Jo1 commented on #42
that's strange, which kernel version? it's not a VM right? it could be a kernel panic, so it won't be written into a log, what you can do is: redirect the console to the serial port and a machine must be connect to the serial port

[2020-12-22 08:26] 1Jo1 commented on #42
how can i reproduce it?

[2020-12-22 15:58] HookWoods commented on #41
Yup, it works with privileged thank you! But as you may understand, we can't use privileged args in our production server, it's a big security problem like root users

[2020-12-22 16:00] HookWoods commented on #40
I've done some test a time ago, and it appears that the decoded buffer has multiple nio buffers, so that's why you got the -2 on Zlib cause it can't decompress multiple buffers

[2020-12-22 16:07] normanmaurer commented on #41
Fully understand ... I just wanted to understand if it's related to this . You may need to do a bit more digging into what exactly you need to allow in docker to use io_uring. As you said it's not a netty issue

[2020-12-22 16:22] AlfieC commented on #40
so is this a limitation of zlib? or bug?

[2020-12-22 19:06] normanmaurer commented on #41
@HookWoods this may be related to this:

https://github.com/moby/moby/issues/39396

[2020-12-23 02:06] AlfieC commented on #42
im actually not entirely sure, it happens to us a few hours after constant 500ish connection load (is reverse proxy so 1000 total, one in one out). it happens a lot faster when the connection load is higher

[2020-12-23 04:32] 1Jo1 commented on #42
Ok, it's probably a kernel panic, please could you try that

[2020-12-23 06:20] 1Jo1 opened #47 "LinuxSocket NoClassDefFoundError"
when I run a netty example https://github.com/1Jo1/netty-io_uring-kernel-debugging/blob/master/src/main/java/uring/netty/example/EchoUringServer.java

[code]

as far as I know this #31 PR  has caused this bug, it could be related to the maven build change

netty-io_uring version: current master aa26d0a6893d619d52a50a77d7d05b89d6c42859

[2020-12-23 06:29] 1Jo1 commented on #47
@normanmaurer its probably maven build issue as LinuxSocket was not changed, what do you think?

[2020-12-23 08:02] normanmaurer commented on #47
@1Jo1 fixed by https://github.com/netty/netty-incubator-transport-io_uring/pull/48

[2020-12-23 08:26] #47 closed

[2020-12-24 23:39] AlfieC commented on #40
thinking about this some more, im not sure why the issue only appears on io_uring - on epoll and nio no issue.

[2020-12-26 20:48] AlfieC commented on #42
happened again last night on a separate machine, kernel 5.9 with latest netty io_uring. general rule of thumb we noticed was that long, sustained high throughput with constant reconnections seems to cause kernel panics. I think there's a leak somewhere. I haven't been able to do the serial port part yet as these are unmanaged remote servers, but I've sent in the ticket to get KVM

[2020-12-26 20:49] AlfieC commented on #42
we've also noticed that restarting the java process every few hours prevents the machine deaths

[2020-12-27 09:36] normanmaurer commented on #42
Thats interesting... can you gather memory usage (direct, heap and kernel) while the app is running so we can see if it grows ?  Also do you create and shutdown `IOUringEventLoopGroup` frequently ?

[2020-12-28 16:40] AlfieC commented on #42
I'll grab numbers next time we run the process under similar circumstances.

We don't create or shutdown the event loop group frequently - one time on application startup and we reuse it throughout.

[2020-12-29 08:15] normanmaurer commented on #41
@HookWoods please update this issue once you found out more... This way we can also add this to the FAQ.

[2020-12-30 21:36] HookWoods commented on #41
Yup, np. For the moment we use privileged args cause we want to try the io uring in beta but when we find more I will update this issue.

[2021-01-05 21:18] HookWoods commented on #41
Ok, after an update of libseccomp, it finally works, looks like we weren't on the latest version. So the moby config file with the new lib works greats!

[2021-01-05 21:56] HookWoods commented on #40
Actually I've done some more test. I have a custom fork of BungeeCord [https://github.com/SpigotMC/BungeeCord](url) with IOUring and a custom fork of PaperSpigot (https://github.com/PaperMC/Paper) with IOUring on. I just try to launch the bungeecord server with io_uring on and the spigot with io_uring on and it's not working. I got this error from the Bungeecord logs
`[21:35:32] [Netty io_uring Wo

[2021-01-05 21:56] #41 closed

[2021-01-15 10:23] #15 closed

[2021-01-16 17:14] amizurov opened #61 "IOUring uses more heap memory than Epoll transport"
We have integrated IOUring into our communication layer as an experimental feature, after which I did some comparison test between `EPOLL` and `IOURING` I want to share some info.

I ran small load test and noticed that `IOURING` transport uses more heap memory than `EPOLL` with same load.

1) EPOLL
![image](https://user-images.githubusercontent.com/8257855/104817858-18f2ac00-5835-11eb-8708-f6925a

[2021-01-16 17:58] normanmaurer commented on #61
Good catch... want to provide a PR?

[2021-01-16 19:15] amizurov commented on #61
I'll try to do it if nothing special needs for develop requirement.

[2021-01-16 22:23] #61 closed

[2021-01-16 22:32] njhill commented on #61
Nice one @amizurov! I wonder if this will make a difference to the benchmark numbers..

[2021-01-17 11:01] amizurov commented on #61
I'm not sure that only this factor affected to heap allocation, maybe `visualvm` attach also has impact, but i checked an allocation profiler after fix and now it looks similar for both `EPOLL` and `IOURING` transports.

I do not think that my experiment is clean and clearly indicates this, but still `IOURING` now is looks better 😄 .

1) IOURING
![image](https://user-images.githubusercontent.com/8

[2021-01-18 06:46] normanmaurer commented on #40
@AlfieC @HookWoods ping

[2021-01-18 10:24] HookWoods commented on #40
OK I will set up that when I'm at home (in 3-4h)

[2021-01-18 10:46] normanmaurer commented on #41
@HookWoods would you be interested to add something to our FAQ section of the readme for this ? I suspect more and more people may want to use it with docker.

[2021-02-02 19:08] normanmaurer opened #66 "Upgrade JNI plugin"
See https://github.com/netty/netty-incubator-codec-quic/pull/166

[2021-02-03 16:39] #66 closed

[2021-02-17 06:08] hyperxpro commented on #11
@chrisvest :) Can you?

[2021-02-22 09:08] wineway opened #76 "Support flags when io_uring_setup"
seems current `flags` in `io_uring_params` is `0` by default, is there any plan to support configurations to `io_uring_setup`?

[2021-02-22 09:09] normanmaurer commented on #76
@wineway not atm... what you wanted to configure here?

[2021-02-22 09:14] wineway commented on #76
@normanmaurer like `IORING_SETUP_IOPOLL`, `IORING_SETUP_SQPOLL` etc.

refer to [man page](https://manpages.debian.org/unstable/liburing-dev/io_uring_setup.2.en.html)

[2021-03-01 09:30] martin-g commented on #76
I have this almost working. PR is coming!

[2021-03-25 09:14] HowHsu opened #84 "blocking eventfd in IOUringEventLoop.java"
Hi there,
I found there is a blocking eventfd in IOUringEventLoop.java, since I'm not familiar with java and netty, could any tell me what is it for?
Here the thing  is an eventfd without O_NONBLOCK flag will trigger io-wq threads in io_uring. Is reading/writing for this eventfd  high frequency operations?  If yes, then in systems that has few cpu resources, it may affect the service quality, I gu

[2021-03-25 13:11] chrisvest commented on #84
Hi Hao,
When the event loop has nothing to do - either no work has been lined up, or no previously submitted IO requests have completed yet - then the thread needs to sleep in a way that it can be woken up when either condition flips. The eventfd is used for that.

[2021-03-26 02:28] HowHsu commented on #84
Hi Chrisvest,
Would a nonblocking eventfd work well? If yes, then I think it's better for cpu-scarce system.
The difference between reading/writing blocking and nonblocking eventfd is whether to do the work in the io-wq kernel threads or inline. For fd type like eventfd, I don't see the difference.

Thanks,
Hao

[2021-03-26 02:51] njhill commented on #84
@HowHsu it's not really blocking IO on the kernel side, it just has blocking semantics. It means we can take advantage of iouring's FAST_POLL feature which combines a poll + read in a single syscall, otherwise an additional read would be needed every time the eventfd triggers. (see https://github.com/netty/netty-incubator-transport-io_uring/commit/cf60172e6461d9cbfa39b4a7338afab7177c9b2a)

[2021-03-26 06:24] HowHsu commented on #84
@njhill yes, in io_uring kernel side, they are both nonblocking. But currently it seems that there is some issue when reading an eventfd without O_NONBLOCK being set, I would figure it out. Btw, FAST_POLL feature will be leveraged no matter an eventfd is marked O_NONBLOCK or not, I think.

[2021-03-29 15:24] normanmaurer commented on #12
This is fixed in 5.12 ... We may want to pick this up again

[2021-03-31 08:01] normanmaurer opened #89 "0.0.6.Final"

[2021-03-31 08:03] #89 closed

[2021-04-05 15:48] trustin opened #92 "JVM crashes on `Native.ioUringSetup()`"
I'm not sure how I can reproduce this, but I sometimes get a JVM crash when I try to load transport-io_uring on AdoptOpenJDK 15.0.2, Ubuntu 18.04.3. I know Ubuntu 18.04 runs a very old kernel and thus there's no point of loading io_uring, but I think it still shouldn't crash, because otherwise I can't figure out io_uring is available or not.

This may be relevant or not, but I load transport-epoll

[2021-05-10 03:05] 1Jo1 commented on #92
@trustin the problem is already known, I still not sure how to fix that
here some hacky solutions[(static loading)](https://github.com/netty/netty-incubator-transport-io_uring/blob/4b0f8eca65c274ab02c066512fbfc77129874e52/src/main/java/io/netty/incubator/channel/uring/IOUring.java#L36):
- parsing the kernel version(via cat /proc/version)
- to do io_uring feature checks(kernel 5.9/5.10)

@normanmau

[2021-05-10 07:24] normanmaurer commented on #92
@1Jo1 yeah maybe lets parse... Can you do a PR ?

[2021-05-10 08:00] 1Jo1 commented on #92
@normanmaurer yes :)

[2021-05-11 09:40] normanmaurer commented on #92
This should be fixed by https://github.com/netty/netty-incubator-transport-io_uring/pull/97.

[2021-05-12 09:46] trustin commented on #92
Thanks a lot, @1Jo1 and @normanmaurer! :bow:

[2021-05-19 14:52] #92 closed

[2021-06-25 09:13] #84 closed

[2021-06-29 00:30] QIvan opened #105 "version 0.0.6 on maven central"
Hi!
First of all, thank you very much for this library, I tried it on our workloads and it shows very nice results!

I noticed you released version 0.0.6 but on maven central [only 0.0.5 is available](https://search.maven.org/artifact/io.netty.incubator/netty-incubator-transport-native-io_uring). Is it possible to publish an artefact with 0.0.6 version over there?
For more details see this issue h

[2021-06-30 22:21] NiteshKant commented on #105
Hmm this is strange as the release build did upload artifacts to sonatype. @normanmaurer any idea what went wrong?

[2021-07-01 07:09] lwglgy opened #106 "Why do we test the official benchmark results showing no difference between iouring and nio？"
We used the official test program, but the results we got were almost no difference between iouring and nio. We use the official benchmark program, our test host has 32 cores, 200G RAM and the kernel version is 5.13.0

The following are our test codes.
`

import io.netty.bootstrap.ServerBootstrap;
import io.netty.channel.*;
import io.netty.channel.nio.NioEventLoopGroup;
import io.netty.channel.soc

[2021-07-01 07:27] normanmaurer commented on #105
hmm.. no.. Let me just trigger another release

[2021-07-01 09:28] #105 closed

[2021-07-01 09:28] normanmaurer commented on #105
@NiteshKant @QIvan it did turn out our release workflow did not set the right property:

https://github.com/netty/netty-incubator-transport-io_uring/commit/5a7a11fa837cea440ad39ca7099bcf32ded50116

I did cut 0.0.7 and ensured it is released.

[2021-07-01 14:09] izemlyanskiy commented on #105
wonderful, thanks @normanmaurer!
So, correct me if i'm wrong, the version 0.0.6 will be kinda skipped and we can expect 0.0.7 on maven central in near future, right?

[2021-07-01 14:11] normanmaurer commented on #105
@izemlyanskiy yes... it is already on maven central:

https://repo1.maven.org/maven2/io/netty/incubator/netty-incubator-transport-native-io_uring/0.0.7.Final/

[2021-07-06 12:15] normanmaurer commented on #106
Is this on a real machine or on a vm ? Also can you just use `new IOUringEventLoopGroup(1)` and `new NioEventLoopGroup(1)` ?

[2021-07-08 06:41] HowHsu commented on #106
Hi Norman,
We tried again with *EventLoopGroup(1), it works!  io_uring is about 5 times faster
then nio and epoll in terms of packet rate. But meanwhile we found that the io_uring
server costs 1300% cpu while nio/epoll costs just 100%.  We then found it's caused
by io-wq threads. So I used a very big ioSqeAsyncThreshold like 50000000 to do the test again, this time io_uring cost just 100% too, the

[2021-07-30 10:25] jammyMarse opened #109 "centos 8.4-Kernel: 4.18, it throwed " failed to load the required native library""
i passed all tests of "the netty-incubator-transport-io_uring", but it still throwed exceptions.

<img width="1272" alt="wecom-temp-9219c48d593911754dcb11af7f4b66b8" src="https://user-images.githubusercontent.com/8069551/127639834-e49e6388-d8f9-48a6-9745-2f2c14094676.png">

[2021-07-30 14:15] normanmaurer commented on #109
Kernel 4.18 is not recent enough. You need 5.9+

[2021-07-30 14:15] #109 closed

[2021-08-19 01:51] kvcache commented on #42
This happens on my application & I've had to fall back to `EpollEventLoopGroup` and `EpollServerSocketChannel`.

I am using AWS ami `amzn2-ami-kernel-5.10-hvm-2.0.20210721.2-x86_64-gp2` which is kernel 5.10.

I am using grpc with `io.netty.incubator:netty-incubator-transport-native-io_uring:0.0.5.Final:linux-x86_64`.

My heap remains stable around 9gb while sustaining a throughput of around 10k re

[2021-09-10 19:08] Janmm14 commented on #40
While CompositeByteBuf exists in netty it only gives us a native address when it just has one component, else it errors. So that cannot be the problem.
It is not clear if this is a netty bug or a bug in bungeecord's zlib usage.
Bungee's native zlib got an overhaul since the last comment in here in bungeecord, so you should check it again as well.

I'd suggest to cloe this issue.

[2021-09-13 08:16] chrisvest commented on #40
It sounds like the only variable between working and non-working systems is the io_uring transport, and in this case the error shows up as a corrupted (I guess) zlib stream. It could be that the io_uring transport doesn't set correct read- or write-offsets on the buffers in some cases, and it just happens to get caught by zlib because it sanity checks the data it gets.

[2021-10-05 12:54] madper opened #115 "`java.lang.UnsatisfiedLinkError: could not load a native library: netty_transport_native_io_uring_x86_64`"
Hey Gurus,

I'm trying to use `zio-http` with io_uring. However I got `java.lang.UnsatisfiedLinkError: could not load a native library: netty_transport_native_io_uring_x86_64` somehow.

The build dep looks like:
[code]
eval `println(IOUring.unavailabilityCause().toString())` will show `java.lang.UnsatisfiedLinkError: could not load a native library: netty_transport_native_io_uring_x86_64`

I'm run

[2021-10-05 12:58] madper commented on #115
Sorry for the noise. I just fixed it by appending `classifier "linux-x86_64"`.

[2021-10-05 12:58] #115 closed

[2021-11-11 10:43] franz1981 opened #123 "Tests doesn't seem to run using mvn 3.8.1"
I cannot find a way to make tests to run, probably I've missed something obvious

[2021-11-11 17:19] 1Jo1 commented on #123
I tried git bisect, this commit [Upgrade to Junit 5](https://github.com/netty/netty-incubator-transport-io_uring/commit/2ab49f6ad4f5f82a2e480f3d3d2954bac23f57e6) causes this issue

[2021-11-12 13:20] normanmaurer commented on #123
Fixed via https://github.com/netty/netty-incubator-transport-io_uring/pull/124... Thanks for reporting

[2021-11-12 14:35] normanmaurer commented on #123
Fixed by https://github.com/netty/netty-incubator-transport-io_uring/pull/124

[2021-11-12 14:35] #123 closed

[2021-11-23 06:55] franz1981 commented on #106
Given that IOSQE_ASYNC can have a very unexpected behaviour eg issueing an unbounded number of threads to async complete requests (if not in some recent-ish kernel patch IIRC) maybe would be better to let the number of handled fds before using IOSQE_ASYNC unbounded by default, limiting only if necessary, wdyt @normanmaurer ?

[2021-11-23 07:40] franz1981 opened #127 "Add IOSQE_ASYNC_HYBRID support"
https://github.com/torvalds/linux/commit/90fa02883f063b971ebfd9f5b2184b38b83b7ee3 has introduced IOSQE_ASYNC_HYBRID that would be beneficial "in cases where unbound max_worker is relatively small" (quoting the commit msg).

We should also provide some guidance/doc/readme to tell users to limit the number of max_workers as https://github.com/netty/netty-incubator-transport-io_uring/issues/106 shows

[2021-11-23 08:35] franz1981 commented on #127
Some more info about how it's supposed to work on https://github.com/axboe/liburing/issues/420#issuecomment-909430547

[2021-11-23 09:20] franz1981 opened #128 "Expose IORING_REGISTER_IOWQ_MAX_WORKERS ring configuation"
https://github.com/torvalds/linux/commit/2e480058ddc21ec53a10e8b41623e245e908bdbc#diff-c729876d649dec0e07c0238dcb5bf0ef9fcb0ce8f9e810f57167d6896db45242 has introduced IORING_REGISTER_IOWQ_MAX_WORKERS to limit the number of kernel unbounded workers: it's beneficial for IOSQE_ASYNC submissions

[2021-11-30 09:17] normanmaurer commented on #127
`IOSQE_ASYNC_HYBRID` looks really promising!

[2021-12-11 11:05] xtuyaowu opened #133 "how to use?"
hi:
   change from
          <dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-all</artifactId>
            <version>4.1.42.Final</version>
        </dependency>
        to
        <dependency>
            <groupId>io.netty.incubator</groupId>
            <artifactId>netty-incubator-transport-native-io_uring</artifactId>
            <version>0.0.9.Final</version>

[2021-12-11 21:01] chrisvest commented on #133
Try upgrading to netty version 4.1.70, and netty-incubator-transport-native-io_uring version 0.0.10.

[2021-12-12 00:05] xtuyaowu commented on #133
question is : need use both netty version 4.1.70, and netty-incubator-transport-native-io_uring version 0.0.10. ？

[2021-12-12 01:28] #133 closed

[2021-12-12 01:28] xtuyaowu commented on #133
solved thanks @chrisvest

[2022-01-28 22:29] derklaro opened #140 "JVM crash on startup"
Hey,

I was looking forward to test around with io uring. I'm trying to start an application which contains the library, relocated to `libeu_cloudnetservice_relocate_netty_transport_native_io_uring_x86-64.so` (loading works as expected, relocating using gradle shadow `relocate("META-INF/native/libnetty", "META-INF/native/libeu_cloudnetservice_relocate_netty")`), as described in the docs. The reloc

[2022-01-29 09:27] derklaro commented on #140
Nevermind, duplicate of netty/netty#11701

[2022-01-29 09:27] #140 closed

[2022-03-01 08:58] pveentjer opened #148 "IOUringEventLoop nextWakeupNanos"
In the IOUringEventLoop the nextWakeupNanos is updated twice:

[code]

The nextWakeupNanos is an AtomicLong and the set and getAndSet are not very cheap. On the X86 the trigger a memory fence which effectively causes the CPU to stop issuing loads till the store buffer has been drained. And this will not benefit performance.

Based on the code it seems that the nextWakeupNanos is not used by any ot

[2022-03-01 09:02] franz1981 commented on #148
Hi @pveentjer : `nextWakeupNanos` is used by https://github.com/netty/netty-incubator-transport-io_uring/blob/98f7b6d716a2043367a2d6415629b13e88b06a73/transport-classes-io_uring/src/main/java/io/netty/incubator/channel/uring/IOUringEventLoop.java#L361 from outside the event loop (ie from another thread) if `inEventLoop == false`

[2022-03-01 09:05] pveentjer commented on #148
Ok. In that case we need something more powerful than a plain long. But I think we can get rid of the fences. So a get/set opaque should be sufficient since there are no memory ordering effects required.

[2022-03-01 09:11] pveentjer commented on #148
So the following should be sufficient for the first set:
[code]

It will provide a [LoadLoad][LoadStore] which on the X86 you get for free. So mostly a compiler restriction.

setVolatile would be more appropriate, but not available on Java 8.

Need to think about the getAndSet.

[2022-03-01 09:15] pveentjer commented on #148
With Scylla the mem barrier is removed for task exchange between threads. Memory ordering matters in that case. But afaik for the nextWakeupNanos memory ordering is irrelevant. So don't see a good reason why a price needs to be paid.

[2022-03-01 09:17] normanmaurer commented on #148
@pveentjer PRs welcome

[2022-03-01 09:19] pveentjer commented on #148
I would be more than happy to make a PR :) But before I do, I want to make sure my understanding is correct.

Assumption: the memory ordering effects of nextWakeupNanos are irrelevant. We just need to make sure that the compiler doesn't optimize out the load or store.

So is this assumption correct?

[2022-03-01 18:04] njhill commented on #148
Hey thanks @pveentjer. The `IOUringEventLoop` logic was derived from [`EpollEventLoop`](https://github.com/netty/netty/blob/4.1/transport-classes-epoll/src/main/java/io/netty/channel/epoll/EpollEventLoop.java), and in an earlier iteration of that I did actually used `lazySet` here following similar reasoning to yours.

However I changed it to `set` after [realizing](https://github.com/netty/netty/

[2022-03-01 18:13] franz1981 commented on #148
Oooops I didn't notice you pinged me on https://github.com/netty/netty/pull/9561#issuecomment-532926597 :( I will use this chance to help @pveentjer to find why/if it hasn't worked

[2022-03-01 18:14] njhill commented on #148
@franz1981 np I think it was just for info and it was quite a long time ago now!

@pveentjer you also probably noticed we guard the `getAndSet` with a volatile read to avoid its cost in most cases. If you think an `AtomicInteger` would be significantly cheaper than `AtomicLong` we may be able to do find a way to use that instead.

[2022-03-23 17:48] xbzhang99 opened #152 "netty io_uring was slower than epoll"
I collected some stats on x86, 5.13 kernel, using netty-incubator-iouring 13 with Cassandra 4.0. The network throughput is about 8% lower than netty epoll. The context switches is 69% higher than than epoll, and the interrupts are 2% higher than epoll. Also, CPI (circles per instruction) is 8% higher.

<html>
<body>

  | iouring | epoll | diff |   |  
-- | -- | -- | -- | -- | --
load | 1000 | 1000

[2022-03-23 18:56] franz1981 commented on #152
Please can you attache the flamegraphs or sending me via email?
I cannot navigate the flamegraphs in order to understand what's going on.
Looking at the flames in this form It doesn't seem and I/O bounded benchmark: if the system is not I/O bounded and Netty threads (thanks to io_uring) got to sleep faster, awaking them will cost more, cause more context switches etc etc
So please share a bit more

[2022-03-23 22:01] xbzhang99 commented on #152
Tests were done using READ.sh script in Cassandra.

IOuring:
./READ.sh 120 50
Results:
Op rate                   :  188,259 op/s  [simple1: 188,259 op/s]
Partition rate            :  188,259 pk/s  [simple1: 188,259 pk/s]
Row rate                  : 1,882,971 row/s [simple1: 1,882,971 row/s]
Latency mean              :    0.3 ms [simple1: 0.3 ms]
Latency median            :    0.2 ms [simple1: 0.2

[2022-03-23 22:03] xbzhang99 commented on #152
Tests were done using READ.sh script in Cassandra (cassandra-stress).

IOuring:
./READ.sh 120 50
Results:
Op rate                   :  188,259 op/s  [simple1: 188,259 op/s]
Partition rate            :  188,259 pk/s  [simple1: 188,259 pk/s]
Row rate                  : 1,882,971 row/s [simple1: 1,882,971 row/s]
Latency mean              :    0.3 ms [simple1: 0.3 ms]
Latency median            :    0.

[2022-03-23 22:11] franz1981 commented on #152
Thanks @xbzhang99 but please can you still attach somewhere the flamagraphs you've sent? sharing details of machines (not just OS), JVM etc etc

[2022-03-23 22:39] xbzhang99 commented on #152
it was jdk14. Sorry I can't seem to attach the flamegraphs (I already dragged and dropped them above)

[2022-03-23 23:22] njhill commented on #152
@franz1981 try downloading the .svg files first and then open them in a browser from your local disk. If you just click on them directly the javascript is disabled.

[2022-03-24 00:53] franz1981 commented on #152
thanks @njhill :O I was thinking was just an image, not a svg :O
I apologize @xbzhang99

[2022-03-24 08:28] franz1981 commented on #152
@xbzhang99 I need few others info to better understand it

1. profiling duration
2. number of cores (logical too) of the machine
3. a profiler run using `-t` argument
4. the machine is physical?
5. how many physical event loops are created?

[2022-03-25 04:58] xbzhang99 commented on #152
tried several io.netty.iouring.iosqeAsyncThreshold values, but the client got timedout when it was >2
The machine was physical, has 64 cores.
How to check #of Netty event loops?

[2022-03-25 05:24] franz1981 commented on #152
There are still missing answers, useful for the investigation:
- duration of profiling session ie the -d argument of async-profiler

Try with a number much higher then 25: how many connections are created against the Cassandra node?
You can bump it to be 2147483647

But I suggest first to consider the suggestion from @normanmaurer too first, on https://github.com/netty/netty-incubator-transport-io

[2022-03-28 15:29] xbzhang99 commented on #152
I increased the value to 2000000000, and the client (cassandra-stress) gave:
com.datastax.driver.core.exceptions.OperationTimedOutException: [/134.134.101.101:9042] Timed out waiting for server response
java.util.NoSuchElementException

what is async-profiler?

[2022-04-01 16:20] xbzhang99 commented on #152
I reduced the threads as per https://github.com/netty/netty-incubator-transport-io_uring/issues/106#issuecomment-876173958.
The throughput is on par with epoll (also reduced to the same number of threads). And the context switches were also much lower.

So can we have a smaller default for the threads? Can we also make the number of threads a runtime parameter?

[2022-04-01 16:42] franz1981 commented on #152
@xbzhang99 because JNI to access the ring buffers has still a cost (many, TBH) but here thanks to unsafe (and VarHandle in the future) there's not need to pay that cost.

[2022-04-04 23:57] xbzhang99 commented on #152
I reduced the the number of threads for NioEventLoopGroup, and I got about the same throughput as Epoll and IOUring.

[2022-04-05 07:45] normanmaurer commented on #152
@xbzhang99 also one important aspect is that io_uring only will give you improvements when you are IO heavy in terms of network sys calls atm. Also it will only show an big improvement when a lot of connections are doing IO that sit on the same `IOUringEventLoop`.

[2022-04-05 10:21] derklaro opened #153 "Some requests are received and processed twice?"
I'm running on the latest "release" of io_uring (0.0.13.Final). I recently noticed build failures on GitHub Actions which seem the be caused
by io_uring. Removing io_uring and only testing against epoll/kqueue/nio works perfectly fine.

I had originally two issues, one of them I was able to solve myself. However, that might be interesting as well: I have some code which did a websocket handshake,

[2022-04-11 16:31] xbzhang99 commented on #152
@franz1981
Could you explain more? I thought with both libring and io-uring API, you have to use jni to access the ring buffers?
what about unsafe?

[2022-04-11 17:31] franz1981 commented on #152
Nope, in the current version there's no need of JNI to access the iuring ring buffers

[2022-04-12 05:41] pveentjer opened #154 "AbstractIOUringStreamChannel iovArray litter"
Every time there is a writev, an IovArray instance is created. Also, there is the overhead of pooling the memory of the iovArrayBuffer.

[code]

Perhaps it would be better to preallocate the iovArray with ByteBuff of size:

[code]

This way the iovArray is always big enough for any number of buffers.

So the usage would look something like this:
[code]

One drawback of preallocating is that it wil

[2022-04-12 07:06] franz1981 commented on #154
I would use unpooled direct memory there too, and yes, agree on your point

@1Jo1 any concern why the iov array was treated as immutable and allocated/released for each writev?
I remember that we cannot have more the one in-flight write (vectored or not), hence it shouldn't happen that `iovArray` will be used while its memory still used for a previously submitted (and never completed) one

[2022-04-19 09:20] normanmaurer commented on #154
Yes I think we can pre-allocate.

[2022-04-19 09:25] franz1981 commented on #154
@pveentjer do you think you can send a PR? I can help if needed, obviously :)

[2022-05-05 08:47] legezywzh opened #156 "Use io_uring fast-poll or poll op's multi-shot"
Seems that for regular socket send/recv operations, current implementation still uses one pair of poll op and send/recv op, which is inefficient.  Below perf report shows that io_poll_add() introduces obvious overhead.

-   51.79%     0.31%  IOUringEventLoo  [kernel.kallsyms]
   - 51.48% io_issue_sqe
      + 32.98% io_write
      + 12.26% io_read
      - 4.35% io_poll_add
         - 4.31% __io_arm

[2022-05-05 08:54] franz1981 commented on #156
IIRC the reason what to save memory to be commited for future unknown reads: this is beneficial for a slow-path, but still common use case ie idle connection(s)

Any proposal on how to deal with this differently?

[2022-05-13 06:01] #152 closed

[2022-05-13 06:01] franz1981 commented on #152
Closing this as explained 😃

[2022-05-28 16:20] hyperxpro opened #162 "Support for Netty 5"
Currently, Io_Uring transport is supported only for Netty 4.1. It'd be great if we support the upcoming Netty 5.

[2022-05-29 20:29] artnaseef opened #163 "io_uring cannot allocate memory"
In the FAQ:

[code]

I dug through all the layers to increase the memlock limit for a program running in a docker container.  Increased the limit to 1GB.  It still failed.

Thankfully, transitive dependency exclusion came to the rescue.

[2022-05-31 22:32] chrisvest commented on #163
Do you run Docker with `--privileged`?

[2022-05-31 22:35] artnaseef commented on #163
No

On Tue, May 31, 2022 at 3:32 PM Chris Vest ***@***.***> wrote:

[2022-05-31 23:31] chrisvest commented on #163
I've had to use `--privileged` when using io_uring inside a docker container (via Docker for Mac).

[2022-08-06 23:21] franz1981 opened #165 "Replace stdlib write/read with send/recv"
https://github.com/netty/netty/issues/12673 ditto as before

[2022-08-15 21:01] yuzawa-san opened #166 "Kernel warning and instability in 5.10"
I am seeing some dodgy behavior in 5.10. We did upgrade to 5.15 and that seemed to fix things, but leaving this here for posterity in case anybody else runs into the same issue. The IOUringEventLoopGroup appears to start and then fail to handle any tasks. The Java application appears to continue to run without exceptions or failures. Successive runs cause the kernel to seize up and for the network

[2022-08-15 21:11] chrisvest commented on #166
We don't use SQPOLL, so that doesn't apply.

[2022-08-26 19:27] sohami commented on #15
@normanmaurer Is this issue fixed ? I see that the commits were reverted but the issue is still closed

[2022-09-02 19:03] normanmaurer commented on #15
yes it should work

[2022-10-02 06:19] Leymooo opened #174 "Memory leak without usage traces"
Netty version: 4.1.82.Final
IoUring version: 0.0.14.Final
Flags: `-Dio.netty.leakDetection.level=PARANOID -Dio.netty.leakDetection.targetRecords=20`

Log:
[code]

Reproduce steps:
 Unknown

[2022-10-04 07:16] normanmaurer commented on #174
@Leymooo do you shutdown the `IoUringEventLoopGroup` before this happens ?

[2022-10-04 16:08] Leymooo commented on #174
No. But looks like it happenes very rare. Only 2 reports for 17 min debug session on production.
~7100 total connection (to app + from app to backend), and ~1k connection concurrently(~500 in + ~500 out) at peak.
First report was after 16 min after start and second followed after 30 second.

I will try to reprocude this in dev envoriment using some stressing tools, but it will take some time.

[2022-10-13 16:57] chrisvest commented on #163
Closing because I think this is a docker issue, and not something we can fix in our io_uring integration.

[2022-10-13 16:57] #163 closed

[2022-10-13 17:51] artnaseef commented on #163
Please re-open.  Please make the requirement to run privileged OPTIONAL and NOT DEFAULT.  This make the software hard to use for what benefit?  I don't even know.

[2022-10-13 17:53] artnaseef commented on #163
Why is io_uring forced on?

[2022-10-13 18:00] chrisvest commented on #163
It's a requirement of the io_uring system call APIs. The entire point of this repository is to provide an io_uring integration for Netty, but we're not forcing you to use io_uring. You can use epoll instead, or nio.

[2022-10-13 22:34] artnaseef commented on #163
OK, I dug up the history on this one - haven't seen it in a while (thanks to adding the maven dependency exclusion).  Turns out there's an intermediate project that's pulling in this dependency, which leads to this problem.  That project really shouldn't be forcing io_uring on.

So I agree that this isn't a problem in the Netty, nor the io_uring module, itself.  With that said, it would be great i

[2022-10-13 22:39] artnaseef commented on #163
Actually, this is one of the first pages to come up: https://github.com/netty/netty-incubator-transport-io_uring

Can you add text in there to the effect, "removing this JAR file from the project can work-around this problem"?

[2022-11-09 22:26] chrisvest commented on #166
Closing this since I think it's a kernel bug.

[2022-11-09 22:26] #166 closed

[2022-11-17 15:10] franz1981 commented on #165
@chrisvest this is still valid in the 'main` branch of the Netty repo right?

[2022-11-18 02:58] chrisvest commented on #165
@franz1981 that version uses `recv` for reading, and `writev` for sending, but I suspect we'll soon change that `writev` to `sendmsg` - Norman has some ideas for changing the IO loops that will require that.

[2022-11-18 21:07] franz1981 commented on #165
@chrisvest on the pr for Netty 5 io_uring it seems it's using read/write and not recv/send (writev is for mutile writes, while here I mean for single one)

[2022-11-18 21:08] franz1981 commented on #165
For writev (on epoll) I didn't spot any improvement by using sendmsg, no idea if it still holds for io_uring in its recent iterations, but we can ask the io_uring folks to clarify that

[2022-11-18 22:22] chrisvest commented on #165
The `recv` is here: https://github.com/netty/netty/blob/main/transport-classes-io_uring/src/main/java/io/netty5/channel/uring/AbstractIOUringChannel.java#L214-L215

We also use `read`, but only for the eventfd. Maybe that's what you saw.

[2022-11-18 22:24] franz1981 commented on #165
Uhm, very likely (I should not use the phone to read prs, bad habit, I apologize)!

[2022-11-20 13:37] #162 closed